# Variables de aplicacion
PDF_MAX_SIZE_MB=5
LOG_LEVEL=DEBUG
CORS_ORIGINS=["*"]
SHARED_NETWORK_NAME=test_network

# Variables de mongo
MONGO_USER=admin
MONGO_PASSWORD=password
MONGODB_DB_NAME=pdf_db
MONGODB_COLLECTION=extracted_texts
MONGODB_URL=mongodb://admin:password@localhost:27017