# Variables de la aplicación
PDF_MAX_SIZE_MB=5
LOG_LEVEL=DEBUG
CORS_ORIGINS=["*"]
SHARED_NETWORK_NAME=test_network

# Variables de MongoDB (Nombres exactos que pide tu código)
MONGODB_URL=mongodb://admin:password@localhost:27017
MONGODB_DB_NAME=pdf_db
MONGODB_COLLECTION=extracted_texts